*{
    background-color: #191970;
    box-sizing: border-box;
}
 
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav h3{
    margin-left: 90px;
}

.nav_ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 28px;
    list-style-type: none;
    margin: 0 6rem;
}
.nav_ul a {
    text-decoration: none;
}

.nav_ul_li {
    padding: 0 24px;
    color: white;
}

.nav_section_btn,.cardbtn{
    padding: 8px 15px;
    border-radius: 17px;
    background-color: #c90000;
    border-width: 0px;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.nav_section_btn:hover,.cardbtn:hover{
    background-color: #f10505;
}

.card1{
    color: white;
    padding: 2rem 13rem;
}

.sec1{
    display: flex;
    
}
.d1{
    font-size: 29px;
    line-height: 41px;
}
.d2{
    font-size: 19px;
    line-height: 21px;
}


.or {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 0.5rem;
    align-items: center;
    margin: 0;
    background-color: white;
    color: rgb(184, 183, 183);
}

.or::before,
.or::after {
    content: "";
    display: block;
    height: 1px;
    background-color: currentColor;
}

.card2{
    background-color: white;
    padding: 1.5rem 1.5rem;
    line-height: 35px; 
    border: solid 1px ;
    border-radius: 14px;
    margin-top: 35px;
    
}

.inp{
    background-color: white;
    line-height: 45px;
    padding: 0 1rem;
}


.inp input{
    background-color: white;
    font-size: 16px;
    border: solid 1px rgb(184, 183, 183);
    border-radius: 15px;
    padding: 5px 20px;
    
}
.inp h5{
    background-color: white;
    font-size: 15px;
    text-align: center;
    color:  rgb(153 153 153);
    margin: 10px 0px;
}

.inpbtn1{
    background-color: white;
    font-size: 17px;
    display: flex;
    margin: auto;
    background-color: #2828a3;
    color: white;
    border-radius: 12px;
    padding: 0.3rem 4.8rem ;
    border-width: 0;
    cursor: pointer;
    margin-top: 5px;
}

.inpbtn2{
    background-color: white;
    font-size: 17px;
    display: flex;
    margin: auto;
    border-radius: 12px;
    color: white;
    background-color: rgb(13, 131, 227);
    padding: 0.3rem 2.5rem ;
    border-width: 0;
    cursor: pointer;
}
.head h2, a{
    background-color: white;
    text-align: center;
     
}
.head{
    padding: 0 1rem;
    background-color: white;
    
}
.inp a{
    color: rgb(77, 219, 45);
    text-decoration: none;
}
